[Unit]
Description=InstaSaver Telegram Bot
After=network.target

[Service]
WorkingDirectory=/home/apostnikov/mcontrol/instasaver/
ExecStart=/home/apostnikov/myenv/bin/python /home/apostnikov/mcontrol/instasaver/instasaver.py
Restart=always

[Install]
WantedBy=default.target
